<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bohemeow.bohemeow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_bohemeow"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".FAQPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".CheckPermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GrowthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankingExplanationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".NotePopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".BackToSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".RankPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".WalkEndPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".BugReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigEditIntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigEditWeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigEditPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".PostPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".DelPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".SelectSpotPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".DelSpotPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".CommunityImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".WalkLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalkEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SurveyResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpotSearcher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommuWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".PayReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".CommuEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".MainConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".ConfigLogoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWokO6QZNKDpvmXkG5kgYzov6WlLummg0" />
    </application>

</manifest>