<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bohemeow.bohemeow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_bohemeow"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.bohemeow.bohemeow.GrowthActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.RankingExplanationActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.NotePopUpActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.BackToSelectActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.RankPopUpActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.WalkEndPopUpActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.BugReportActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigEditIntroductionActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.RankUserInfoActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.RankActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigEditWeightActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigEditPasswordActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.PopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.PostPopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.DelPopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.SelectSpotPopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.DelSpotPopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.TutorialPopupActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.WalkLoadingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.SelectSpotActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.RankingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.WalkEndActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.SurveyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.SurveyResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.WalkActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.SelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.MainMenu"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.SpotSearcher"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.CommunityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.WritePostActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.TutorialActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.bohemeow.bohemeow.PayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.WriteCheckActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.PayReceiptActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.EditPostActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.MainConfigActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigDelActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigEditActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigLogoutActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigBackgroundActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.ConfigCharacterActivity"
            android:theme="@style/Theme.noBackgroundDialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bohemeow.bohemeow.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWokO6QZNKDpvmXkG5kgYzov6WlLummg0" />
    </application>

</manifest>