<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bohemeow_v1.bohemeow">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_bohemeow"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name="com.bohemeow_v1.bohemeow.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.bohemeow_v1.bohemeow.FAQPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.CheckPermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.GrowthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.RankingExplanationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.NotePopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.BackToSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.RankPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.WalkEndPopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.BugReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigEditIntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigEditWeightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigEditPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.PopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.PostPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.DelPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SelectSpotPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.DelSpotPopupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.CommunityImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.WalkLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SelectSpotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.RankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.WalkEndActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SurveyResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.WalkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.MainMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.SpotSearcher"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.CommuWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.TutorialSkipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.WriteCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.PayReceiptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.CommuEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.MainConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.ConfigLogoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.noBackgroundDialog" />
        <activity
            android:name="com.bohemeow_v1.bohemeow.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWokO6QZNKDpvmXkG5kgYzov6WlLummg0" />
    </application>

</manifest>